body{
background-color: black !important;
}
.navbar-icons{
   width: 20px;
   height: 20px;
}
 .navbar-nav .nav-item {
    margin: 0 30px; /* Adds horizontal spacing */
  }
#product-bar {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 9999;
  transition: top 0.4s ease; /* Fix the transition */
}
#Laptop-video video{
    width: 100%;
    height: auto;
}
.offcanvas-end {
    max-width: 300px;
    box-shadow: -3px 0px 15px rgba(0, 0, 0, 0.5);
}
.offcanvas-header, .offcanvas-body {
    background-color: #343a40;
    color: white;
}

@media (max-width: 768px) { /* Adjust as per your breakpoints */
  #product-bar {
    display: none; /* Hide product bar completely */
  }
}

